name: build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  run:
    name: Build
    strategy:
      matrix:
        os:
          #- macos-latest # too slow
          - ubuntu-latest
          - windows-latest
        ocaml-compiler:
          - 4.03.x
          - 4.12.x
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@main
    - uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: ${{ matrix.ocaml-compiler }}
    - run: opam pin -n .
    - run: opam depext -yt gen
    - run: opam install -t . --deps-only
    - run: opam exec -- dune build
    - run: opam exec -- dune runtest
      if: ${{ matrix.os == 'ubuntu-latest'}}
